<section class="grid-center frontpage">
  <div class="col-12 textbottom">
    <img src="assets/tripbynumberslogo-white.svg" class="logo animated fadeIn slower">
  </div>
  <div class="col-12 textcentered animated fadeIn slower delay-1s">
    <h1 class="white"> PROFESIONAL SERVICES PROPOSAL <h1>
  </div>
</section>
<section class="grid client-proposal padded-bottom-20">
  <div class="col-4 client padded-bottom-20 bump-up animated slideInUp delay-1s" data-push-left="off-7">
    <h2> Adapt Ventures </h2>
    <h3> Salesforce Customer Community Cloud Implimentation </h3>
  </div>
</section>
