<section class="grid body">
  <section class="col-3 side-menu tall">
    <nav>
      <h1 id="letter_button">Adapt Proposal</h1>

      <div>
          <h2 class="dropdown-nav animated">Overview <i class="fas fa-sort-down"></i></h2>
             <div class="dropdown-content">
              <a id="phases_button">Phases</a>
              <a id="services_button">Services</a>
            </div>
        </div>
      <div>
          <h2 class="dropdown-nav animated">Details <i class="fas fa-sort-down"></i></h2>
             <div class="dropdown-content">
              <a id="timeframe_button">Timeframe</a>
              <a id="budget_button">Budget</a>
              <a id="team_button">Team & Engagement</a>
            </div>
        </div>
      <div>
          <h2 class="dropdown-nav animated">Next Steps <i class="fas fa-sort-down"></i></h2>
             <div class="dropdown-content">
              <a id=accept_button>Accept Proposal</a>
              <a id=book_button>Book a Call</a>
            </div>
        </div>

    </nav>
  </section>
  <div class=" col-9 proposal-body padding-top-left">

        {% include opening_letter.html %}

        {% include phases.html %}

        {% include services.html %}

        {% include timeframe.html %}

        {% include budget.html %}

        {% include team.html %}

        {% include accept.html %}

        {% include book.html %}

  </div>
</section>
