<section class="grid body">
  <section class="col-3 side-menu tall">
    <nav>
      <h1 id="menu-heading"> Project Proposal </h1>

      <div class="dropdown-nav">
          <h2>section 1</h2>
             <div class="dropdown-content">
              <h3>blah</h3>
              <a href="">blah</a>
              <a href="">blah</a>
            </div>
        </div>
      <div class="dropdown-nav">
          <h2>section 2</h2>
             <div class="dropdown-content">
              <a href="">blah</a>
              <a href="">blah</a>
            </div>
        </div>
      <div class="dropdown-nav">
          <h2>section 3</h2>
             <div class="dropdown-content">
              <a href="">blah</a>
              <a href="">blah</a>
              <a href="">blah</a>
            </div>
        </div>

    </nav>
  </section>
  <div class=" col-9 proposal-body">
    <h3>header</h3>

        {% include overview.html %}

        {% include scope_of_services.html %}

  </div>
</section>
