<div id="phases" class="hide">
<h1>Phases</h1>

<p>The project will be consist of 6 key phases each with distinct goals and outcomes.</p>
<br>
 <p><span>1. Research</span></p>

 <p>During this phase the key goals are to gain a full understanding of Adapt's requirements from both a customer facing point of view and an internal users point of view.  It is during this stage that user stories will be developed in consultation with the Adapt Product Owner.
<br><br>
  A full list of user stories that define existing out of the box functionality will be provided during this consulation period so that the Adapt Product Owner can quickly identify the core use cases and decide which of these will be required and with what importance.
<br><br>
  Additionally a set of industry specific user stories will also be supplied.  This will provide the Adapt Product owner a jumping-off point for further in-depth discussions about the potential for the solution.
<br><br>
  Finally a full audit of Adapt's curent Salesforce implementation, including security and sharing, development lifecycle and existing installed applications.  This is to enable a clear path forward regarding system configuration to prepare your Production Org for redefined sharing models required to allow external users access to their private customer data and other Communities functionality.</p>
<br><br>

 <p><span>2. Design</span></p>
 <br>
 <p>With a strong focus on user story priorities, a full solution design will be created.  This will include a delineation between implementation and customisation of out of the box Communities functionality and any additional third party applications that will be required to provide the desired functionality.
 <br>
 <br>
 In the event that additional third party applications are required, a full audit and analysis of any packages that I am unfamiliar with will be included; this is limited to technical functionality only. Any ROI analysis of additional costs can be provided, at an additional charge.
 <br>
 <br>
 <p>Internal user processes will also be defined, such as external user establishment and management,  internal profile permissions and accessibility to data.  Required design assets will also be defined based on the development of basic UI Wireframes.  Existing templated Community layouts will be explored and if required a custom built template can be discussed.
 <br>
 <br>
  Importantly, this phase will also define the development strategy, team and timelines in greater detail.  The development approach will be <span>Agile</span> and broken into a series of sprints.  The length and number of sprints and required team members will be defined at this stage. </p>
 <br>
 <br>
 <p><span>3. Develop</span></p>
<p><span>4. Test</span></p>
 <p><span>5. Train</span></p>
 <p><span>6. Deploy</span></p>
 <br>
 <p>Using the <span>Agile</span> method of development, core system requirements including internal Org wide settings will be completed before the development sprints are commenced.
 <br>
 <br>
 This will be followed by a series of sprints designed to deliver incremental functionality deliveries for testing.  Once functionality is approved, required internal users are trained, the development is deployed.
 <br>
 <br>
 Depending on the desired go-live date, deployment may only be to internal and testing users.
 <br>

</div>
