
<div class="hide" id="services">
  <h1>Services</h1>
  <br>
  <p>All project management services are included for any required additional development team members.  Task deadline management for internal Adapt staff members is included for any additional required inputs such as design assets, decisions, contract execution etc.</p>
  <br>
   <p><span>1. Research</span></p>
   <br>
  <p>The outputs from this phase will be:
  <li>A full list of user stories with priority rankings based on importance, effort and cost</li>
  <li>A full understanding of the existing security and sharing models set up in Adapt's production Org</li>
  <li>Identification of sandbox environment for development</li>
  <br></p>

   <p><span>2. Design</span></p>
   <br>
   <p>The outputs from this phase will be:
   <li>Full Solution Design including wireframes and any required customer journey mapping</li>
   <li>Scope and analysis of third party applications required to extend functionality to desired level</li>
   <li>Breakdown of additional licensing costs for third party applications</li>
   <li>Internal user access defined</li>
   <li>Development strategy, timelines, defined sprints and any required team members</li>
   <br></p>


   <p><span>3. Develop</span></p>
  <p><span>4. Test</span></p>
   <p><span>5. Train</span></p>
   <p><span>6. Deploy</span></p>
   <br>
   <p>The outputs from these phases will be:
   <li>Continued development and resolution of user stories through Agile sprints</li>
   <li>Implementation and configuration of third party applications</li>
   <li>Testing on all functionality, security and sharing</li>
   <li>Browser and device testing</li>
   <li>System configuration documentation</li>
   <li>Internal user training sessions on delivered functionality</li>
   <br></p>
 <br>
    <p><span>Not Included</span></p>
    <li>Configuration of Service Cloud features such as Case Management and Live Agent (Knowledge is included)</li>
    <li>Creation of highly customised template from scratch*</li>
    <li>Creation of internal training manuals</li>
    <li>Changes to scope not agreed to in writing</li>
    <li>Custom Lightning component development not agreed to in writing</li>

<p>*Whilst ample customisations are avaliable, excessive use of CSS styling can be detrimental to a maintainable community as with each package update release, CSS code will need to be reviewed, revised and re-written prior to new features becoming available.</p>



  </div>
