<div class="hide" id="team">
  <h1> Team and Engagement </h1>

  <br>
   <p><span>Charlotte Hailey</span></p>
   <br>
   <p>I will play a central role in owning and achieving on-time delivery of the project. I will be very hands on throughout the project, interacting with the Adapt Product Owner and liaising with your Salesforce Account Executive to ensure access to features and licenses is granted as required. I will also play a central role in negotiating and liaising with any third party developers or applications teams for any third party integrations that are required.  In the small chance that custom APEX or Lightning development is required that is beyond my technical skill set, I will engage my team of off-shore Salesforce Partner Developers.</p>
  <br><br>
   <p><span>Adapt Product Owner</span></p>
   <br>
   <p>This person will be an Adapt employee and the deciding voice in the direction of the Community Development.  Decisions such as feature prioritisation, third party application costs, changes to scope, internal user access, sharing models and security will be made by this person.  They may delegate responsibility internally for specific decisons, by doing so in writing.  An example of this would be delegating the choice of colours, banner images and other design aspects to the internal marketing person.  This would not include delegating any decisions of a material nature to subordinates, such as decisions surrounding key functionality.<p>
</div>
